<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        TIIS Manager
    </title>
    <%include  ../common/commonLib.html%>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="/css/recommend.css" />
    <!--[if lt IE 9]>
    <script src="common/js/html5shiv.min.js"></script>
    <script src="common/js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/common/apiDialogMng.js"></script>
    <style type="text/css">
        .entityValDiv {
            background-color: #ffffff;
            border: solid 2px #d0d0d0;
            height: 200px;
            padding: 10px;

            max-height: 300px !important;
            display: none;
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <input type="hidden" name='currentPage' id="currentPage" value="1" />
        <!-- Header -->
        <%include ../header.html%>
        <!-- //Header -->

        <!-- Left Menu Side -->
        <%include ../leftSideBar.html%>
        <!--// Left Menu Side -->

        <!-- css는 recommend.css 에 만들었습니다 -->
        <div class="content-wrapper">
            <section class="content-header">
                <h1>질문의도연결(API)</h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <input type="hidden" name='currentPage' id="currentPage" value="1" />
                <div class="box  color-palette-box">
                    <div class="box-body">
                        <div class="modal-body search_op">
                            <input type="hidden" id="sourceType2" name="sourceType" value="D">
                            <input type="hidden" id="searchIntentHidden" name="searchIntentHidden" value="">
                            <input type="hidden" id="searchQuestionHidden" name="searchQuestionHidden" value="">
                            <div class="form-group col-lg-2 w20p" style=" padding-left:0px !important">
                                <input type="text" name="searchIntent" id="searchIntent" class="form-control"
                                    placeholder="<%= __('Please_enter_a_intent') %>">
                            </div>
                            <div class="form-group col-lg-2 w20p" style=" padding-left:0px !important">
                                <input type="text" name="searchQuestion" id="searchQuestion" class="form-control"
                                    placeholder="<%= __('Please_enter_a_question') %>">
                            </div>
                            <div class="form-group col-lg-4 fr" style=" margin-top:20px;text-align:right; padding-right:0px;">
                                <button type="button" id="searchDlgBtn" class="btn btn_01 "><i class="fa fa-search"></i>
                                    <%= __('SEARCH') %></button>
                                <button type="button" id="createApiDialogBtn" class="btn btn-default "><i class="fa fa-plus"></i>
                                    등록</button>
                                <button type="button" class="btn btn-default" id="deleteApiDialogBtnModal"><i class="fa fa-trash"></i>
                                    삭제</button>
                            </div>
                        </div>


                        <!-- 학습 추천 테이블 -->
                        <div class="Tbl_wrap">
                            <table class="Tbl" summary="api dialog 관리">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="5%" />
                                    <col width="20%" />
                                    <col width="40%" />
                                    <col width="15%">
                                    <col width="15%">
                                </colgroup>
                                <tr>
                                    <th><%= __('NUM') %></th>
                                    <th>&nbsp;</th>
                                    <th><%= __('INTENT') %></th>
                                    <th><%= __('DLG_QUESTION') %></th>
                                    <th>등록자</th>
                                    <th><%= __('REGIST_DATE') %></th>
                                </tr>
                                <tbody id="apiDialogtbody">

                                </tbody>
                            </table>
                        </div>
                        <!-- 페이징 -->
                        <div class="pagination_wrap" id="apiDialogTablePaging">
                            <ul class="pagination pagination-sm no-margin">

                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //Main content -->


        </div>

        <!--  Footer -->
        <%include  ../footer.html%>
        <!-- // Footer -->
        <script>
            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            })
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            })
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            })

        </script>
    </div>
    <!--// Content Wrapper -->
    <div class="modal fade" id="apiDialogMngModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">질문의도연결(API)</h4>
                </div>
                <div class="modal-body">
                    <form name="apiDialogForm" id="apiDialogForm" method="post">
                        <div class="form-group">
                            <label for="inputEmail3"><i class="fa fa-asterisk"></i> Question</label>
                            <input type="text" class="form-control" id="API_QUERY" name="API_QUERY" placeholder="<%= __('Please_enter_a_sentence') %>"
                                spellcheck="false" autocomplete='off' maxlength="10">
                        </div>
                        <!--INTENT 추가-->
                        <div class="form-group">
                            <label for="inputEmail3"><i class="fa fa-asterisk"></i> Intent</label>
                            <select class="form-control" id="API_INTENT" name="API_INTENT">
                                <option value="">선택</option>
                                <option value="F_예약">예약</option>
                                <option value="F_예약취소">예약취소</option>
                                <option value="F_예약확인">예약확인</option>
                                <option value="F_운송장번호확인">운송장번호확인</option>
                                <option value="F_위탁배송">위탁배송</option>
                                <option value="F_집배점/기사연락처">집배점/기사연락처</option>
                                <option value="F_택배배송일정조회">택배배송일정조회</option>
                                <option value="F_고객의말씀">1:1 온라인상담</option>
                                <option value="F_자주하는질문">자주하는질문</option>
                                <option value="F_위탁배송">위탁배송</option>
                            </select>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            <%= __('CLOSE') %></button>
                        <button type="button" class="btn btn_01" id="addApiDialog"><i class="fa fa-edit"></i>
                            <%= __('SAVE') %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="procApiDialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        질문의도연결(API)
                    </h4>
                </div>
                <div class="modal-body">
                    <p id="proc_content"></p>
                </div>
                <div class="modal-footer" id="footer_button">

                </div>
            </div>
        </div>
    </div>
</body>

</html>