<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <%include  ../common/commonLib.html%>
    <!--<script src="/common/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="/js/common/upload.js"></script>
    <script>

    </script>

</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Header -->
        <%include  ../header.html%>
        <!-- //Header -->
        <!-- Left Menu Side -->
        <%include  ../leftSideBar.html%>
        <!--// Left Menu Side -->
        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <section class="content-header">
                <h1><%= __('FILE_UPLOAD') %></h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <input type="hidden" name='currentPage' id="currentPage" value="1" />
                <div class="box  color-palette-box">
                    <div class="box-body">
                        <!-- File 업로드 -->
                        <div id="fileUploadDiv" style="margin-bottom: 1%">
                            <form action="/upload/file_upload" method="post" id="fileUploadForm" enctype="multipart/form-data">
                                <input type="file" name="imgFile" id="imgFileUpload" accept='image/jpeg, image/gif, image/png' style="display: inline-block">            
                                <input type="button" onclick=InsertFileUpload() value="UPLOAD">
                            </form>
                        </div>
                        <!-- 학습 추천 테이블 -->
                        <div class="Tbl_wrap">
                            <table class="Tbl" summary="fileUpload 관리">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="20%" />
                                    <col width="20%" />
                                    <col width="45%" />
                                    <col width="10%">
                                </colgroup>
                                <tr>
                                    <th><%= __('NUM') %></th>
                                    <th>ORIGINAL FILE NAME</th>
                                    <th>MODIFIED FILE NAME</th>
                                    <th>FILE PATH</th>
                                    <th>URL COPY</th>
                                    <!--<th>&nbsp;</th>-->
                                </tr>
                                <tbody id="uploadbody"></tbody>
                            </table>
                        </div>
                        <!-- 페이징 -->
                        <div class="pagination_wrap" id="analysisTablePaging">
                            <ul class="pagination pagination-sm no-margin"></ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //Main content -->

        </div>
        <!--// Content Wrapper -->
        <!--  Footer -->
        <%include  ../footer.html%>
        <!-- // Footer -->
        <!-- Modal -->

</body>

</html>